/* 文字化けを防ぐ */
@charset "UTF-8";

/* リセットCSS */
body, h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
}

/* ページ全体の設定 */
body{
    font-size: 16px;
    font-family: 'Vollkorn', serif;
    padding-left: 1%;
    padding-right: 1%;
}

/* ヘッダースマホ画面 */
.header{
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgb(228, 228, 228);
    position: fixed;
    opacity: 0.9;
}

#container{
    padding-top: 110px;
}

.site h1{
    font-size: 25px;
    margin-top: 20px;
}

.site a{
    text-decoration: none;
    color: #20b2aa;
}

.nav ul{
    display: flex;/* nav：横並び */
    justify-content: center;/* nav：中心にそろえる */
    list-style: none;/* nav：黒丸を消す */
}

.nav li{
    margin: 10px;/* リスト要素の間隔を開ける */
}

.nav a{
    font-size: 20px;
    text-decoration: none;/* nav：下線を消す */
    color: black;
}

nav a:hover{
    opacity: 0.5;
}

/* ヒーロー画面スマホ */
.hero{
    background-image: url(../img/hero.jpg);
    height: 500px;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.first-sentence{
    color: white;
    font-size: 50px;
    padding-top: 100px;
}

.btn{
    display: inline-block;
    width: 200px;
    height: 50px;
    background-color: #20b2aa;
    text-align: center;
    line-height: 50px;
    margin-top: 50px;
    border-radius: 10px;
    color: white;
    opacity: 0.9;
    text-decoration: none;
    font-size: 20px;
}

.btn:hover{
    opacity: 0.6;
}

/* メインMENU画面スマホ */
.menu-sentence{
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #20b2aa;
}

.main-left{
    display: flex;/* 画像横並び */
    text-align: center;/* 文字を中心 */
}
.main-right{
    display: flex;
    text-align: center;
}

/* 画面の大きさで自動でサイズ変更 */
.main-content img{
    width: 95%;
    height: auto;
}

.main-content a{
    text-decoration: none;
    color: #20b2aa;
}

.main-content img:hover{
    opacity: 0.7;
}

.main-content p:hover{
    opacity: 0.7;
}

/* フッター */
footer{
    width: 100%;
    text-align: center;
    font-size: 15px;
    background-color: #20b2aa;
    line-height: 50px;/* 文字の高さを真ん中に指定 */
    color: rgb(0, 0, 0);
    margin-top: 10px;
}

.sns-nav ul{
    list-style: none;/* nav：黒丸を消す */
}

.sns-nav li{
    font-size: large;
    margin: 10px;/* リスト要素の間隔を開ける */
}

.nav-item{
    text-decoration: none;
    color: black;
}

.nav-item:hover{
    opacity: 0.5;
}

/* Profile、スマホ画面 */
.about{
    background-color: white;
}

.about-main{
    background-color: white;
    width: 85%;
    margin: auto;/* 真ん中配置 */
}

.about-main h2{
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 30px;
}

.myphoto{
    width: 200px;
    height: auto;
}

.shopname{
    font-size: 25px;
    color: #20b2aa;
    padding-bottom: 0px;/* 下に余白を開ける */
}

.about-main h3{
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 20px;
}

.personal{
    font-size: 16px;
}

/* GitHub、スマホ画面 */
.contact{
    padding-top: 50px;
    background-color: white;
}

.contact-inner{
    background-color: white;
    margin: auto;/* 中心配置 */
    width: 90%;
}

.contact h2{
    color: #20b2aa;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.repository{
    text-align: left;
}

.repo-item ul{
    display: flex;
    list-style: none;/* nav：黒丸を消す */
}

.repo-link{
    color: #20b2aa;
    text-decoration: none;
    margin: 10px;
}
.repo-link:hover{
    opacity: 0.5;
}

label{
    display: block;
}

.contact-form{
    text-align: center;
    font-size: 30px;
}

/* Blog、スマホ画面 */
/* 画面の大きさで自動でサイズ変更 */
.blog-content img{
    width: 95%;
    height: auto;
}

.blog-content a{
    text-decoration: none;
    color: black;
}

.article:hover{
    opacity: 0.7;
}

.post{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}
.article{
    width: 35%;
    background-color: rgb(230, 230, 230);
    padding: 10px;
    margin: 15px;
}
.thumbnail{
    text-align: left;
    background-color: white;
    padding: 10px;
}

.date{
    text-align: right;
    font-size: 10px;
    color: gray;
}

/* 記事、スマホ画面 */
.mainmenu{
    text-align: center;
    background-color: #20b2aa;
    padding: 40px;
    padding-bottom: 20px;
}

.menu-left-content{
    background-color: white;
    width: 85%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-left-content h2{
    margin-bottom: 10px;
}

.main-left-content p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.top-menu img{
    width: 100%;
    height: auto;
}

.menu-right-content{
    background-color: white;
    margin: auto;
    width: 85%;
    margin-top: 40px;/* 上に余白 */
    padding-bottom: 20px;
}

.menu-right-content h3{
    font-size: 30px;
}

.menu-list{
    display: flex;/* 写真と文字を横並び */
    align-items: center;/* 写真と文字の高さを真ん中に */
    padding-left: 10%;
}

.menuimg img{
    width: 100px;
    height: auto;
}

.menu-list p{
    margin-left: 10px;/* pタグの左に余白 */
}

.menu-right-content a{
    text-decoration: none;
    color: #20b2aa;
    /* divが二つ重なっておりブラウザによってhoverが聞かない可能性がある。それを解消する */
    display: block;
}

.menu-right-content a:hover{
    opacity: 0.5;
}

/* ヘッダーパソコン画面 */
/* メディアクエリ */
@media screen and (min-width: 700px){
.header{
    display: flex;
    justify-content: space-between;/* タイトルとリストを離す */
    align-items: center;/* タイトルとリストの高さ中心に寄せる */
    padding-left: 40px;
    padding-right: 40px;
}

.site{
    padding-bottom: 30px;
}
}

/* ヒーローヘッダー、パソコン画面 */
@media screen and (min-width: 700px){
.first-sentence{
    font-size: 60px;
    padding-top: 170px;
}

.btn{
    width: 300px;
    border-radius: 20px;
}
}

/* メインメニュー、パソコン画面 */
@media screen and (min-width: 700px){
.menu-sentence{
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-content{
    display: flex;
}
}

/* フッター、パソコン画面 */
@media screen and (min-width: 700px){
.footer{
    font-size: 20px;
    margin-top: 10px;
}
.sns-nav ul{
    display: flex;/* nav：横並び */
    justify-content: center;/* nav：中心にそろえる */
    list-style: none;/* nav：黒丸を消す */
}
}


/* メニュー記事、パソコン画面 */
@media screen and (min-width: 600px){
.mainmenu{
    display: flex;
    justify-content: space-around;
}

.menu-meain-left{
    width: 70%;
}

.menu-left-content{
    margin-top: 20px;
    padding: 30px;
    width: auto;
}

.menu-right-content{
    margin-top: 20px;
    padding: 20px;
    width: auto;
}
}

/* Profile、パソコン画面 */
@media screen and (min-width: 700px){
.about-main{
    width: 90%;
    text-align: left;
}

.about-main h2{
    font-size: 40px;
    padding-left: 2.5%;
}

.about-main h3{
    font-size: 25px;
    padding-left: 2.5%;
}

.myphoto{
    width: 300px;
    height: auto;
}

.profile-flex{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.personal{
    font-size: 20px;
}

.shopname{
    font-size: 40px;
    padding-left: 2.5%;
}

.message h2{
    font-size: 40px;
    padding-left: 2.5%;
}
}

/* GitHub、パソコン画面 */
@media screen and (min-width: 700px) {
.contact h2{
    font-size: 40px;
}

.contact li{
    font-size: 20px;
}
}

/* Blog、パソコン画面 */
@media screen and (min-width: 700px) {
.article{
    font-size: 20px;
    width: 25%;
    background-color: rgb(230, 230, 230);
    padding: 15px;
    margin: 20px;
}
.date{
    font-size: 15px;
}
}